* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right,
    #53cde2,
    #2dafd2,
    #0191bf,
    #0074aa,
    #005792
  );
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  border-radius: 20px;
  margin: auto auto;
}

.fill {
  min-height: 60px;
  text-align: center;
  padding: 8px;
}

.fill > * {
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
  height: 42px;
}

select,
button {
  color: white;
  border: 0;
  outline: 0;
  font-size: 18px;
  outline: 0;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 17px;
  cursor: pointer;
  text-align: center !important;
}

select {
  transition: background 400ms;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #0f4c75;
  border: 1px solid transparent;
}

select::-ms-expand {
  display: none;
}
button {
  background-color: #1b262c;
}

select:hover {
  background-color: #1b262c;
}

button:-moz-focusring,
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 white !important;
}

.randomname {
  position: relative;
  min-height: 250px;
}

#result {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #edf9fc;
  font-size: 25px;
}

.footer p {
  margin: 20px;
  text-align: center;
  color: #edf9fc;
  font-size: 18px;
}

.footer p span {
  color: #53cde2;
}

.footer p a {
  text-decoration: none;
}

@media only screen and (max-width: 770px) {
  .fill * {
    display: block;
    margin: 10px auto;
    width: 300px;
  }

  button {
    text-align: left;
  }
}

@media only screen and (max-width: 430px) {
  .fill * {
    width: 230px;
  }

  body {
    padding: 0;
  }

  .randomname {
    min-height: 350px;
  }
}
